@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #000;
  margin: auto;
  height: 75px;
}

.header__logo {
  width: 50%;
  margin-top: 22px;
}

.header__inner {
  width: 1170px;
  margin: auto;
  display: flex;
}

.header__menu-wrapper {
  width: 50%;
}

.header__menu {
  font-weight: 600px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none; 
  height: 75px;
  display: inline-block;
  line-height: 75px;
  width: 19%;
}

.AXIT {
  background-color: #333333;
  height: 1026px;
  background-image: url(image/background__AXIT.jpg);
}

.AXIT__inner {
  display: flex;
  width: 1170px;
  margin: auto;
  padding-top: 208px;
}

.AXIT__title-wrapper {
  height: 169px;
  width: 670px;
}

.AXIT__title {
  font-family: 'Raleway';
  font-size: 48px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 73px 0 0;
}

.AXIT__line {
  border: 1px solid #FFFFFF;
  width: 170px;
  margin-top: 53px;
}

.AXIT__subtitle {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 42px;  
}

.AXIT__button {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;  
  text-align: center;
  border: 2px solid #FFFFFF; 
  text-decoration: none;
  color: #FFFFFF;
  width: 370px;
  height: 58px;
  display: block;
  line-height: 58px; 
  margin-top: 42px; 
}

.AXIT__input-container {
  background-color: white;
  height: 400px;
  border-radius: 10px;
}

.AXIT__input-title {
font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
text-transform: uppercase;
text-align: center;
height: 90px;
line-height: 90px;
margin: 0;
margin-bottom: 45px;
}

#name, #email, #password {
  width: 571px;
  border: none;
  padding-bottom: 16px;
}

.AXIT__input-name, .AXIT__input-email, .AXIT__input-password {
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 50px;
}

#message {
  width: 569px;
  border: none;
  padding-bottom: 184px;
}

.contacts__input-message {
  border-bottom: 1px solid #BDBDBD;    
}

.AXIT__input-button {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;  
  text-decoration: none;
  color:#FFFFFF;
  background-color: #EC7979;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: auto; 
  display: block;
  border-radius: 0 0 10px 10px;
}

.social {
  background-color: #F8EFEF;
  height: 140px;
  margin: auto;
}

.social__inner {
  width: 1170px;
  margin: auto;
  display: flex;
}

.scoial__title-wrapper {
  width: 40%;
  margin-right: 50px;
}

.social__title {
  font-family: 'Open Sans';
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  margin: 0;
  height: 60px;
  line-height: 60px;
  margin-bottom: 18px;
}

.social__subtitle {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  margin: 0;  
  height: 48px;
}

.social__content {
  width: 60%;
}

.social__link {
  margin-right: 45px;
  margin-top: 50px;
  display: inline-block;
}

.tabs {
  width: 1170px;
  margin: auto;
  margin-top: 137px;
}

.tabs-container {
  display: flex;
}

.tab {
  width:200px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.tab-content__block:first-child {
  padding: 0px 30px 0px 100px;
}

.tab-content {
  display: flex;
  margin-bottom:50px;
  border: 1px solid #C6CBCD;
  border-radius: 1px;
}

.tab-content__block-title {
  font-family: 'Open Sans';
  font-size: 30px;
  margin-bottom: 58px;

}

.tab-content__block-wrapper {
  font-family: 'Raleway';
  font-size: 18px;
  text-align: left;
  margin-bottom: 58px;
}

.tab-content__button {
  font-family: 'Open Sans';
  font-size: 18px;
  color:white;
  text-align: center;
  width: 270px;
  height: 54px;
  background: #EC7979;
  border:none;
  line-height: 54px;
  display: block;
}

.tab-content__image {
  display: block;
}

.awersome {
  font-family: 'Raleway', sans-serif;
  width: 1170px;
  margin: auto;
}
 
.awesome__title {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
  
.awersome__title-wrapper {
  height: 150px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
  
.awersome__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: auto;
  margin-bottom: 40px;
}
  
.awersome__subtitle {
  color: #86878B;
  font-size: 18px;
  text-align: center;
  margin-bottom: 110px;
}
  
.awersome__container {
  display: flex;
  justify-content: space-between;  
}
  
.awersome__block {
  width: 370px;
  text-align: center;
}
  
.awersome__icon-wrapper {
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 78px;
}
  
.awersome__block-title {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 47px;
}

.pricing {
  width: 1170px;
  margin: auto;
  margin-top: 58px;
}

.pricing__title {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pricing__title:after {
  content: "";
  border: 1px solid #EC7979;
  display: block;
  width: 170px;
  margin: 40px auto;
}

.pricing__subtitle {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  text-align: center;
  margin-bottom: 59px;
}

.pricing__conteiner {
  display: flex;
  justify-content: space-between;
}

.pricing__content {
  width: 370px;
  margin-right: 30px;
  text-align: center;
}

.pricing__content-conteiner {
  list-style-type: none;
  padding: 0;
}

.pricing__content-rate {
  border: 2px solid #F5F5F5;
  background-color: #333333;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  color: #F5F5F5;
  height: 60px;
  line-height: 60px;
  display: block;
}

.pricing__content-price {
  border: 2px solid #F5F5F5;
  background-color: #333333;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  color: #F5F5F5;
  height: 100px;
  line-height: 100px;
  display: block;
}

.pricing__content-term {
  border: 2px solid #F5F5F5;
  background-color: #333333;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  height: 50px;
  line-height: 50px;
  display: block;    
}

.pricing__content-subtitle {
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  height: 50px;
  line-height: 50px;
  display: block; 
}

.customers {
  width: 1170px;
  margin: auto;
  margin-top: 50px;
}

.customers__title-wrapper {
width: 1170px;
font: 'Raleway';
margin: auto;
}

.customers__title {
font-size: 36px;
font-weight: 400;
color: #000;
text-transform: uppercase;
text-align: center;
font-family: 'Raleway';
}

.customers__title:after {
  content: "";
  display: block;
  border: 1px solid #EC7979;
  width: 170px;
  margin: 40px auto;
}

.customers__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  text-align: center;
  margin-bottom: 83px;
  font-family: 'Raleway';
}

.customers__conteiner {
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.customers__block {
  width: 370px;
  border-radius: 10%;
  background-color: #E2E2E2;
  line-height: 0;
  padding: 38px 0 37px 0;
  text-align: center;
  font-family: 'Raleway';
}

.customers__block:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  margin: 0px 50px;
  position: absolute;
}

.block__title {
  font-size: 18px;
  font: 'Raleway';
  font-weight: 400;
  color: #86878B;
}

.customers__subconteiner {
  display: flex;
  justify-content: space-between;
}

.customers__block-wrapper {
  display: flex;
  width: 370px;
  margin-top: 66px;
  margin-bottom: 64px;
}

.customers__block-name {
  flex: 1 1;
  padding: 0 0 0 20px;
}

.customers__name {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  width: 269px;
  margin: 0;
  padding-bottom: 15px;
}

.customers__position {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  width: 270px;
  margin: 0;
}

.stylish {
  background-color: rgba(0, 0, 0, 0.5);
  height: 442px;
  background-image: url(image/background__stylish.jpg);
}

.stylish__inner {
  width: 1170px;
  margin: auto;
}

.stylish__title-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stylish__title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.stylish__line {
  width: 170px;
  border: 1px solid #FFFFFF;
  margin: auto;
  margin-bottom: 40px;
}

.stylish__subtitle {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 73px;
}

.stylish__button-download {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;  
  text-align: center;
  border: 2px solid #FFFFFF; 
  text-decoration: none;
  color:#FFFFFF;
  width: 370px;
  height: 58px;
  display: block;
  line-height: 58px;
  margin: auto;
  margin-bottom: 50px;
}

.contacts {
  width: 1170px;
  margin: auto;
  margin-top: 50px;
}

.contacts__title-wrapper {
  height: 150px;
  align-items: center;
  display: flex; 
  justify-content: center;  
}

.contacts__title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.contacts__line {
  width: 170px;
  border: 1px solid #EC7979;
  margin: auto;
  margin-bottom: 40px; 
}

.contacts__subtitle {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  text-align: center;
  margin-bottom: 89px;    
}

.contacts__input-wrapper {
  display: flex;
}

.contacts__input-conteiner {
  margin-right: 30px;
  margin-bottom: 50px;
}

#name, #email, #password {
  width: 571px;
  border: none;
  padding-bottom: 16px;
}

.contacts__input-name, .contacts__input-email, .contacts__input-password {
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 50px;
}

#message {
  width: 569px;
  border: none;
  padding-bottom: 184px;
}

.contacts__input-message {
  border-bottom: 1px solid #BDBDBD;    
}

.contacts__button-download {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;  
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EC7979;
  width: 370px;
  height: 58px;
  align-items: center;
  margin: auto; 
  display: flex;
  justify-content: center;   
}

.footer {
  background-color: #000;
  height: 164px;
  margin-top: 50px
}

.footer__inner {
width: 1170px;
margin: auto;
}

.footer__content {
display: flex;
justify-content: center;
}

.footer__link {
  margin-right: 45px;
  margin-top: 50px;
}

.footer__title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;  
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 33px 0 27px;
}